<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>
<style>
    body {
      font-family: "Rubik", sans-serif;
      text-align: center;
      background-color: #240046;
      margin-left: 20px;
      margin-right: 20px;
      color: #fff;
    }


     table {
      width: 100%;
      min-width: 400px;
      margin: 5px auto 0 auto;
      margin-bottom:-100px;
    }
     th {
      border: none;
      background-color: #17032c;
      color: white;
      text-transform: uppercase;
      padding: 10px;
    }

    tr,td {
      color: black;
      border: none;
      font-weight: 550;
      PADDING:8PX;
    }
    .p{
        text-align:center
    }
    button{
       float:right;
       font-size: 20PX;
       margin:-10px ;
    }
    .button2{
  background: #8E2DE2;  /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
  margin:20px;
}
.button2:hover{
    box-shadow: 0px 1px 18px violet;
}
.checks{
    margin-left:300px;

}
.hi1{
    background-color: #d2d2f0;
}
.hi2{
    background-color:#e6d2f5;
}
.hi4{
    background-color:#eefaef;  
}
.hi3{
    background-color: #fff2f0;  
}
.hi11{
    background-color: #7d7dceda;

}
.hi22{
    background-color:#7e509e80 ;
}
.hi44{
    background-color:#a1c5a6;
}
.hi33{
background-color: #dab7b0;

}
h4{
    color: whitesmoke;
}
</style>
</head>
    <body>
        <script type="text/javascript" src="script.js"> </script>
        <div class="top">
            <h1>Admin page</h1>
            
        </div>
     <div class="whole">
       <table width:100%>
       <tr class="blue">
        <th>term</th>
        <th>SINO</th>
        <th>finance</th>
        <th>count</th>
        <th>MARKETING</th>
        <th>count</th>
        <th>AIMLAB</th>
        <th>count</th>
        <th>OPS & IT</th>
        <th>count</th>
        <th>OB-HR-STRATEGY</th>
        <th>count</th>
      </tr>
      <div>
      <tr class="hi1">

        <td  class="hi11" rowspan="4"> <h4>TERM-4</h4></td>
        <td>1</td>
        <td>Financial Statement Analysis - Manaswee Samal
           <p type="checkbox" id="t1-11" class="checks"
            name="Financial Statement Analysis - Manaswee Samal"
            value="t1-Financial Statement Analysis - Manaswee Samal" 
            onclick="disable(this)"></p></td>
            <td><a href="{{ url_for('download_file1')}}" download>{{ output1 }}</a></td>
        <td>Consumer Behaviour - Bharadwaj  CAP 120 Based on MM & MR Grades
            <p type="checkbox" id="t1-12" class="checks"
            name="Consumer Behaviour - Bharadwaj CAP 120 Based on MM & MR Grades"
            value="t1-Consumer Behaviour - Bharadwaj CAP 120 Based on MM & MR Grades" 
            onclick="disable(this)"></p></td>
            <td></td>
        <td>Deep Learning - AI - Tushar Jaruhar
            <p type="checkbox" id="t1-13" class="checks"
            name="Deep Learning - AI - Tushar Jaruhar"
            value="t1-Deep Learning - AI - Tushar Jaruhar"
            onclick="disable(this)"></p></td>
            <td></td>
        <td>Logistics & Supply Chain Management -Uppliappan Gopalan
            <p type="checkbox" id="t1-14" class="checks"
            name="Logistics & Supply Chain Management -Uppliappan Gopalan"
            value="t1-Logistics & Supply Chain Management -Uppliappan Gopalan"
            onclick="disable(this)"></p></td>
            <td></td>
        <td>Board Room Simulation - Suresh Srinvasan
            <p type="checkbox" id="t1-15" class="checks"
            name="Board Room Simulation - Suresh Srinvasan"
            value="t1-Board Room Simulation - Suresh Srinvasan"
            onclick="disable(this)"></p></td>
        <td></td>
      </tr>
      <tr class="hi1">
        <td>2</td>
        <td>Managing Personal Investments -Venkatesh B
            <p type="checkbox" id="t1-21" class="checks"
            name="Managing Personal Investments -Venkatesh B"
            value="t1-Managing Personal Investments -Venkatesh B"
            onclick="disable(this)"></p></td>
            <td></td>
        <td>Sales and Distribution Management -Rajeswari K
            <p type="checkbox" id="t1-22" class="checks"
            name="Sales and Distribution Management -Rajeswari K"
            onclick="disable(this)"></td>
            <td></td>
        <td>Data Visualization and BI - Vivekanand CAP 150 FCFS
            <p type="checkbox" id="t1-23" class="checks"
            name="Data Visualization and BI - Vivekanand CAP 150 FCFS"
            value="t1-Data Visualization and BI - Vivekanand CAP 150 FCFS"
            onclick="disable(this)"></td>
            <td></td>
        <td>IT Consulting - Sriram Rajagopalan
            <p type="checkbox" id="t1-24" class="checks"
            name="IT Consulting - Sriram Rajagopalan"
            value="t1-IT Consulting - Sriram Rajagopalan"
            onclick="disable(this)"></p></td>
           <td><a href="{{ url_for('download_file2')}}" download>{{ output2 }}</a></td>
        <td>xxxxxxxxxxx</td>
        <td></td>
      </tr>
      <tr class="hi1">
        <td>3</td>
        <td>Options, Futures & Derivatives - Raghu Iyer
            <p type="checkbox" id="t1-31" class="checks"
            name="Options, Futures & Derivatives - Raghu Iyer"
            value="t1-Options, Futures & Derivatives - Raghu Iyer"
            onclick="disable(this)"></p></td>
            <td></td>
        <td>Brand Management - Sridhar Samu
            <p type="checkbox" id="t1-32" class="checks"
            name="Brand Management - Sridhar Samu"
            value="t1-Brand Management - Sridhar Samu"
            onclick="disable(this)"></td>
            <td></td>
        <td>Marketing Analytics - Raghav Shyam CAP 120 Based on SMDM & MR Grades
            <p type="checkbox" id="t1-33" class="checks"
            name="Marketing Analytics - Raghav Shyam CAP 120 Based on SMDM & MR Grades"
            value="t1-Marketing Analytics - Raghav Shyam CAP 120 Based on SMDM & MR Grades"
            onclick="disable(this)"></td>
            <td></td>
        <td>Data Visualization & BI - Vivekanand CAP 150 FCFS
            <p type="checkbox" id="t1-34" class="checks"
            name="Data Visualization & BI - Vivekanand CAP 150 FCFS"
            value="t1-Data Visualization & BI - Vivekanand CAP 150 FCFS"
            onclick="disable(this)"></td>
            <td></td>
        <td>xxxxxxxxxx</td>
        <td></td>
      </tr>
       <tr class="hi1">
        <td>4</td>
        <td>xxxxxxxxxx</td>
        <td></td>
        <td>Marketing Metrics - D Sriram
            <p type="checkbox" id="t1-41" class="checks"
            name="Marketing Metrics - D Sriram"
            value="t1-Marketing Metrics - D Sriram"
            onclick="disable(this)"></td>
            <td></td>
        <td>xxxxxxxxxx</td>
        <td></td>
        <td>xxxxxxxxxx</td>
        <td></td>
        <td>xxxxxxxxxx</td>
        <td></td>

      </tr>
     
      </div>
      

        <div >
        <tr class="hi2">
        <td  class="hi22" rowspan="5"><h4>TERM-5</h4></td>
        <td>1</td>
        <td>Financial Modelling - Raghu Iyer
            <p type="checkbox" id="t2-11" class="checks"
            name="Financial Modelling - Raghu Iyer"
            value="t2-Financial Modelling - Raghu Iyer"
            onclick="disable(this)"></td>
            <td></td>
        <td>Digital Marketing - Pradeep Racherla CAP 120 Based on MM & MR Grades
            <p type="checkbox" id="t2-12" class="checks"
            name="Digital Marketing - Pradeep Racherla CAP 120 Based on MM & MR Grades"
            value="t2-Digital Marketing - Pradeep Racherla CAP 120 Based on MM & MR Grades"
            onclick="disable(this)"></td>
            <td></td>
        <td>Predictive Analytics for Management -PK Viswanathan CAP 120 Based on SMDM & MR Grades
            <p type="checkbox" id="t2-13" class="checks"
            name="Predictive Analytics for Management -PK Viswanathan CAP 120 Based on SMDM & MR Grades"
            value="t2-Predictive Analytics for Management -PK Viswanathan CAP 120 Based on SMDM & MR Grades"
            onclick="disable(this)"></td>
            <td></td>
        <td>Enterprise Resource Planning - Chandar Subramaniyam
            <p type="checkbox" id="t2-14" class="checks"
            name="Enterprise Resource Planning - Chandar Subramaniyam"
             value="t2-Enterprise Resource Planning - Chandar Subramaniyam"
             onclick="disable(this)"></td>
             <td></td>
        <td>Negotiation & Bargaining -Veeravalli
            <p type="checkbox" id="t2-15" class="checks"
            name="Negotiation & Bargaining -Veeravalli"
            value="t2-Negotiation & Bargaining -Veeravalli"
            onclick="disable(this)"></td>
            <td></td>
      </tr>
      <tr class="hi2">
        <td>2</td>
        <td>Experiential Trading - Venkatesh B
            <p type="checkbox" id="t2-21" class="checks"
            name="Experiential Trading - Venkatesh B"
            value="t2-Experiential Trading - Venkatesh B"
            onclick="disable(this)"></td>
            <td></td>
        <td>Customer Relationship Management - D Sriram CAP 120 Based on MM & MR Grades
            <p type="checkbox" id="t2-22" class="checks"
            name="Customer Relationship Management - D Sriram CAP 120 Based on MM & MR Grades"
            value="t2-Customer Relationship Management - D Sriram CAP 120 Based on MM & MR Grades"
            onclick="disable(this)"></td>
            <td></td>
        <td>Deep Learning - AI - Tushar Jaruhar
            <p type="checkbox" id="t2-23" class="checks"
            name="Deep Learning - AI - Tushar Jaruhar"
            value="t2-Deep Learning - AI - Tushar Jaruhar"
            onclick="disable(this)"></td>
            <td></td>
        <td>Project Management - Saurabh Parikh
            <p type="checkbox" id="t2-24" class="checks"
            name="Project Management - Saurabh Parikh"
            value="t2-Project Management - Saurabh Parikh"
            onclick="disable(this)"></td>
            <td></td>
        <td>Desgin Thinking & Innovation - KC John
            <p type="checkbox" id="t2-25" class="checks"
            name="Desgin Thinking & Innovation - KC John"
            value="t2-Desgin Thinking & Innovation - KC John"
            onclick="disable(this)"></td>
            <td></td>
      </tr>
      <tr class="hi2">
        <td>3</td>
        <td>Fixed Income Securities - Abhijit Deshmukh
            <p type="checkbox" id="t2-31" class="checks"
            name="Fixed Income Securities - Abhijit Deshmukh"
            value="t2-Fixed Income Securities - Abhijit Deshmukh"
            onclick="disable(this)"></td>
            <td></td>
        <td>Customer Focused Product Planning - Seenu Srinivasan CAP 120 Based on SMDM & MR Grades
            <p type="checkbox" id="t2-32" class="checks"
            name="Customer Focused Product Planning - Seenu Srinivasan CAP 120 Based on SMDM & MR Grades"
            value="t2-Customer Focused Product Planning - Seenu Srinivasan CAP 120 Based on SMDM & MR Grades"
            onclick="disable(this)"> </td>
            <td></td>
        <td>Customer Focused Product Planning - Seenu Srinivasan - CAP 120 Based on SMDM & MR Grades
            <p type="checkbox" id="t2-33" class="checks"
            name="Customer Focused Product Planning - Seenu Srinivasan CAP 120 Based on SMDM & MR Grades"
            value="t2-Customer Focused Product Planning - Seenu Srinivasan CAP 120 Based on SMDM & MR Grades"
            onclick="disable(this)"></td>
            <td></td>
        <td>Strategic Operations Planning - Natarajan
            <p type="checkbox" id="t2-34" class="checks"
            name="Strategic Operations Planning - Natarajan"
            value="t2-Strategic Operations Planning - Natarajan"
            onclick="disable(this)"></td>
            <td></td>
        <td>xxxxxxxxxxx</td>
        <td></td>

      </tr>
       <tr class="hi2">
        <td>4</td>
        <td>xxxxxxxxxxxx</td>
        <td></td>
        <td>Consumer Behaviour - Suresh Ramanathan
            <p type="checkbox" id="t2-41" class="checks"
            name="Consumer Behaviour - Suresh Ramanathan"
            value="t2-Consumer Behaviour - Suresh Ramanathan"
            onclick="disable(this)"></td>
            <td></td>
        <td>AI and its Implications in a ComplexDigital World - Nikhil Sikka & Venkat Narayanan CAP 90 Based on SMDM & MR Grades
            <p type="checkbox" id="t2-42" class="checks"
            name="AI and its Implications in a ComplexDigital World - Nikhil Sikka & Venkat Narayanan CAP 90 Based on SMDM & MR Grades"
            value="t2-AI and its Implications in a ComplexDigital World - Nikhil Sikka & Venkat Narayanan CAP 90 Based on SMDM & MR Grades"
            onclick="disable(this)"></td>
            <td></td>
        <td>Production Planning & Control - Chandra Prakash
            <p type="checkbox" id="t2-43" class="checks"
            name="Production Planning & Control - Chandra Prakash"
            value="t2-Production Planning & Control - Chandra Prakash"
            onclick="disable(this)"></td>
            <td></td>
        <td>xxxxxxxxxxx</td>
        <td></td>
      </tr>

       <tr class="hi2">
        <td>5</td>
        <td>Negotiation & Bargaining - Veeravalli
            <p type="checkbox" id="t2-51" class="checks"
            name="Negotiation & Bargaining - Veeravalli"
            value="t2-Negotiation & Bargaining - Veeravalli"
            onclick="disable(this)"></td>
            <td></td>
            <td>Desgin Thinking & Innovation - KC John
            <p type="checkbox" id="t2-52" class="checks"
            name="Desgin Thinking & Innovation - KC John"
            value="t2-Desgin Thinking & Innovation - KC John"
            onclick="disable(this)"></td>
            <td></td>
        <td>xxxxxxxxxxxx></td>
        <td></td>
        <td>xxxxxxxxxxxx</td>
        <td></td>
        <td>xxxxxxxxxxxx</td>
        <td></td>
      </tr>
      </div>
      <div >
      <tr class="hi3">

        <td  class="hi33" rowspan="4"><h4>TERM-6</h4></td>
        <td>1</td>
        <td>Financial Risk Management - Satish Krishnan
            <p type="checkbox" id="t3-11" class="checks"
            name="Financial Risk Management - Satish Krishnan"
            value="t2-Financial Risk Management - Satish Krishnan"
            onclick="disable(this)"></td>
            <td></td>
        <td>Advanced Marketing Strategy - Suresh Ramanathan CAP 60 CAP 120 Based on MM & MR Grades
            <p type="checkbox" id="t3-12" class="checks"
            name="Advanced Marketing Strategy - Suresh Ramanathan CAP 60 CAP 120 Based on MM & MR Grades"
            value="t3-Advanced Marketing Strategy - Suresh Ramanathan CAP 60 CAP 120 Based on MM & MR Grades"
            onclick="disable(this)"></td>
            <td></td>
        <td>Multivariate Machine Learning Algorithms -
            <p type="checkbox" id="t3-13" class="checks"
            name="Multivariate Machine Learning Algorithms -"
            value="t3-Multivariate Machine Learning Algorithms -"
            onclick="disable(this)"></td>
            <td></td>
        <td>Time Series Forecasting - Sandeep Srivatsan
            <p type="checkbox" id="t3-14" class="checks"
            name="Time Series Forecating - Sandeep Srivatsan"
            value="t3-Time Series Forecating - Sandeep Srivatsan"
            onclick="disable(this)"> </td>
            <td></td>
        <td>New Venture Planning - KC John
            <p type="checkbox" id="t3-15" class="checks"
            name="New Venture Planning - KC John"
            value="t3-New Venture Planning - KC John"
            onclick="disable(this)"></td>
            <td></td>
      </tr>
      <tr class="hi3">
        <td>2</td>
        <td>Investment Banking - Pratap Giri
            <p type="checkbox" id="t3-21" class="checks"
            name="Investment Banking - Pratap Giri"
            value="t3-Investment Banking - Pratap Giri"
            onclick="disable(this)"></td>
            <td></td>
        <td>Services Marketing - Kasturi Rangan
            <p type="checkbox" id="t3-22" class="checks"
            name="Services Marketing - Kasturi Rangan"
            value="t3-Services Marketing - Kasturi Rangan"
            onclick="disable(this)"></td>
            <td></td>
        <td>BlockChain - Ashish Rathore CAP 120 Based on FA, SMDM & FM Grades
            <p type="checkbox" id="t3-23" class="checks"
            name="BlockChain - Ashish Rathore CAP 120 Based on FA, SMDM & FM Grades"
            value="t3-BlockChain - Ashish Rathore CAP 120 Based on FA, SMDM & FM Grades"
            onclick="disable(this)"></td>
            <td></td>
        <td>Supply Chain Optimization -
            <p type="checkbox" id="t3-24" class="checks"
            name="Supply Chain Optimization -"
            value="t3-Supply Chain Optimization -"
            onclick="disable(this)"></td>
            <td></td>
        <td>xxxxxxxxxx</td>
        <td></td>
      </tr>
      <tr class="hi3">
        <td>3</td>
        <td>Time Series Forecating - Sandeep Srivatsan
            <p type="checkbox" id="t3-31" class="checks"
            name="Time Series Forecating - Sandeep Srivatsan"
            value="t3-Time Series Forecating - Sandeep Srivatsan"
            onclick="disable(this)"></td>
            <td></td>
        <td>Integrated Marketing Communications - Rajeswari
            <p type="checkbox" id="t3-32" class="checks"
            name="Integrated Marketing Communications - Rajeswari"
            value="t3-Integrated Marketing Communications - Rajeswari"
            onclick="disable(this)"></td>
            <td></td>
        <td>Time Series Forecasting - SandeepSrivatsan
            <p type="checkbox" id="t3-33" class="checks"
            name="Time Series Forecating - Sandeep Srivatsan"
            value="t3-Time Series Forecating - Sandeep Srivatsan"
            onclick="disable(this)"></td>
            <td></td>
        <td>Business Enterprise for Performance Excellence - Rama Shankar
            <p type="checkbox" id="t3-34" class="checks"
            name="Business Enterprise for Performance Excellence - Rama Shankar"
            value="t3-Business Enterprise for Performance Excellence - Rama Shankar"
            onclick="disable(this)"></td>
            <td></td>
        <td>xxxxxxxxxxx</td>
        <td></td>

      </tr>
       <tr class="hi3">
        <td>4</td>
        <td>Channels and Pricing Decisions - Trichy Krishnan
            <p type="checkbox" id="t3-41" class="checks"
            name="Channels and Pricing Decisions - Trichy Krishnan"
            value="t3-Channels and Pricing Decisions - Trichy Krishnan"
            onclick="disable(this)"></td>
            <td></td>
        <td>xxxxxxxxxx</td>
        <td></td>
        <td>Web & Social Media Analytics - Sowmya Vivek
            <p type="checkbox" id="t3-34" class="checks"
            name="Web & Social Media Analytics - Sowmya Vivek"
            value="t3-Web & Social Media Analytics - Sowmya Vivek"
            onclick="disable(this)"></td>
            <td></td>
        <td>xxxxxxxxxx</td>
        <td></td>
        <td>xxxxxxxxxx</td>
        <td></td>

      </tr>
      </div>
      <div >
        <tr class="hi4">

          <td  class="hi44" rowspan="4"><h4>TERM-7</h4></td>
          <td>1</td>
          <td>Computational Finance - Sameer Ranjan
              <p type="checkbox" id="t4-11" class="checks"
              name="Computational Finance - Sameer Ranjan"
              value="t4-Computational Finance - Sameer Ranjan"
              onclick="disable(this)"></td>
              <td></td>
          <td>Markstrat Simulation - Easwar Iyer
              <p type="checkbox" id="t4-12" class="checks"
              name="Markstrat Simulation - Easwar Iyer"
              value="t4-Markstrat Simulation - Easwar Iyer"
              onclick="disable(this)"></td>
              <td></td>
          <td>Financial Risk Analytics - Tushar Jaruhar / Jayatu Sen
              <p type="checkbox" id="t4-13" class="checks"
              name="Financial Risk Analytics - Tushar Jaruhar / Jayatu Sen"
              value="t4-Financial Risk Analytics - Tushar Jaruhar / Jayatu Sen"
              onclick="disable(this)"></td>
              <td></td>
          <td>Total Quality Management - Badri Kidambi
              <p type="checkbox" id="t4-14" class="checks"
              name="Total Quality Management - Badri Kidambi"
              value="t4-Total Quality Management - Badri Kidambi"
              onclick="disable(this)"></td>
              <td></td>

          <td>International Business Strategy-KN Vaidyanat
              <p type="checkbox" id="t4-15" class="checks"
              name="International Business Strategy-KN Vaidyanat"
              value="t4-International Business Strategy-KN Vaidyanat"
              onclick="disable(this)"></td>
              <td></td>
        </tr>
        <tr class="hi4">
          <td>2</td>
           <td>Financial Risk Analytics - Tushar Jaruhar Jayatu Sen
               <p type="checkbox" id="t4-21" class="checks"
               name="Financial Risk Analytics - Tushar Jaruhar Jayatu Sen"
               value="t4-Financial Risk Analytics - Tushar Jaruhar Jayatu Sen"
               onclick="disable(this)"></td>
               <td></td>
          <td>New Product Development - Rajeswari K
              <p type="checkbox" id="t4-22" class="checks"
              name="New Product Development - Rajeswari K"
              value="t4-New Product Development - Rajeswari K"
              onclick="disable(this)"></td>
              <td></td>
          <td>Natural Language Processing - Sowmya Vivek
              <p type="checkbox" id="t4-23" class="checks"
              name="Natural Language Processing - Sowmya Vivek"
              value="t4-Natural Language Processing - Sowmya Vivek"
              onclick="disable(this)"></td>
              <td></td>
          <td>Service Operations Management - Chandra Prakash
              <p type="checkbox" id="t4-24" class="checks"
              name="Service Operations Management - Chandra Prakash"
              value="t4-Service Operations Management - Chandra Prakash"
              onclick="disable(this)"></td>
              <td></td>
          <td>xxxxxxxxx</td>
          <td></td>

        </tr>
        <tr class="hi4">
          <td>3</td>
          <td>Mergers, Acquisitions& Corporate Restructuring - Ramanujam B
              <p type="checkbox" id="t4-31" class="checks"
              name="Mergers, Acquisitions& Corporate Restructuring - Ramanujam B"
              value="t4-Mergers, Acquisitions& Corporate Restructuring - Ramanujam B"
              onclick="disable(this)"></td>
              <td></td>
          <td>B2B Marketing - Kasturi Rangan R
              <p type="checkbox" id="t4-32" class="checks"
              name="B2B Marketing - Kasturi Rangan R"
              value="t4-B2B Marketing - Kasturi Rangan R"
              onclick="disable(this)"></td>
              <td></td>
          <td>Business Applications for AI - Gurumoorthy
              <p type="checkbox" id="t4-33" class="checks"
              name="Business Applications for AI - Gurumoorthy"
              value="t4-Business Applications for AI - Gurumoorthy"
              onclick="disable(this)"></td>
              <td></td>
          <td>Sustainable Operations -
              <p type="checkbox" id="t4-34" class="checks"
              name="Sustainable Operations -"
              value="t4-Sustainable Operations -"
              onclick="disable(this)"></td>
              <td></td>
          <td>xxxxxxxxxxx</td>
          <td></td>

        </tr>
         <tr class="hi4">
          <td>4</td>
          <td>Applied Behavioural Economics - Vidya Mahambare
              <p type="checkbox" id="t4-41" class="checks"
              name="Applied Behavioural Economics - Vidya Mahambare"
              value="t4-Applied Behavioural Economics - Vidya Mahambare"
              onclick="disable(this)"></td>
              <td></td>
          <td>xxxxxxxxxxx</td>
          <td></td>
          <td>xxxxxxxxxxx</td>
          <td></td>
          <td>xxxxxxxxxxx</td>
          <td></td>
          <td>xxxxxxxxxxx</td>
          <td></td>

        </tr>
    </div>
        </table>

</div>

 <div class="bottom">
    <div class="container1" style="margin: 100px 50px;
    font-size: 20px;">
       <button class="button2" onclick="getValue();return false;">Submit</button>
    </div>
   </div>
</body>
</html>